## Here to start to write my first deployment file in my Zero_Project

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}-deployment
spec:
  replicas: {{ replica_count }}
  selector:
    matchLabels:
      app: {{ app_name }}
  template: 
      metadata: 
        labels:
	  app: {{ app_name }}
      spec: 
	    containers:
	      - name: main-container
	        image: ghcr.io/BaiterYu0101/{{ app_name }}: latest
	        ports:
	        - containerPort: {{ app_port }}
	        resources: 
	          requests: 
	            cpu: {{ limits.cpu }}
	            memory: {{ limits.memory }}
	          limits:
	            cpu: {{ limits.cpu }}
	            memory: {{ limits.memory }}
          


